.collectionCard {
    color: rgb(170, 106, 106);
    background-color: #1a1c1b;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    margin-right: 30px;
}

.collectionCard > img {
    width: 100%;
}

.wethImage {
    height: 23px;
    width: 15px;
}
.detail {
    padding: 20px;
    background-color: #1a1c1b;
}
.name {
    background-color: #1a1c1b;
    font-size: 17px;
    font-weight: 900;
    margin-left: 7px;
}
.name {
    background-color: #1a1c1b;

}

.id {
    background-color: #1a1c1b;
    color: rgb(142, 146, 146);
    font-size: 18px;
    font-weight: 400;
}

.priceContainer {
    background-color: #1a1c1b;
    display: flex;
    align-items: center;
    margin-top: 10px;
    object-fit: contain;
}
.price {
        background-color: #1a1c1b;
        margin-left: 5px;
        font-weight: 600;
}